# This requirements are for development and testing only, not for production.
pytest
coverage
flake8
mypy
black
isort
pytest-cov
pytest-flake8
pytest-mypy
codecov
mypy
gitchangelog
mkdocs
pytest-picked
pymysql
alembic
cryptography
passlib
pyjwt
httpx
email-validator
bcrypt