# This requirements are for development and testing only, not for production.
alembic
annotated-types
anyio
bcrypt
black
certifi
cffi
charset-normalizer
click
codecov
coverage
cryptography
dnspython
dynaconf
email-validator
exceptiongroup
fastapi
fastapi-jwt-auth
fastapi-pagination
flake8
ghp-import
gitchangelog
h11
httpcore
httpx
idna
iniconfig
isort
Jinja2
Mako
Markdown
MarkupSafe
mccabe
mergedeep
mkdocs
mypy
mypy-extensions
mysqlclient
packaging
passlib
pathspec
platformdirs
pluggy
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
PyJWT
PyMySQL
pytest
pytest-cov
pytest-cov
pytest-flake8
pytest-mypy
pytest-picked
python-dateutil
PyYAML
pyyaml_env_tag
requests
six
sniffio
SQLAlchemy
starlette
tomli
typer
typing_extensions
urllib3
uvicorn
watchdog