[development.server]
cors_origins = ["http://localhost:3000", "http://localhost:4200"]
host = "127.0.0.1"
log_level = "debug"
port = 8000
reload = true
authjwt_secret_key = "N2YzMDliMGQtYTUyOC00OGYyLWExYmItZTNiZTJiMTZlMzlk"
authjwt_algorithm = "HS256"
authjwt_access_token_expires = 60

[development.database]
database = "mysql"
host = "localhost"
name = "products_api"
password = "app"
port = 3306
uri = "mysql+pymysql://cpa:products@127.0.0.1:3306/crud_products_api"
user = "root"

[production]
dynaconf_merge = true

[production.server]
log_level = "error"
reload = false

[testing]
dynaconf_merge = true

[testing.server]
cors_origins = ["http://localhost:3000", "http://localhost:4200"]
